
/* start https://en.wikipedia.org/w/load.php?debug=true&lang=en&modules=skins.vector.icons&only=styles&skin=vector-2022&version=&* */


.vector-icon.mw-ui-icon-wikimedia-bell {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-bell-invert {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-bell-progressive {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-tray {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-tray-invert {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-tray-progressive {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-labFlask {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-labFlask-invert {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-labFlask-progressive {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-language {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-language-invert {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-language-progressive {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-sandbox {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-sandbox-invert {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-sandbox-progressive {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-listBullet {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-listBullet-invert {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-listBullet-progressive {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-close {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-close-invert {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-close-progressive {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-ellipsis {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-ellipsis-invert {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-ellipsis-progressive {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-heart {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-heart-invert {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-heart-progressive {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-logIn {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-logIn-invert {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-logIn-progressive {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-logOut {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-logOut-invert {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-logOut-progressive {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-search {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-search-invert {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-search-progressive {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-settings {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-settings-invert {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-settings-progressive {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-menu {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-menu-invert {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-menu-progressive {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-imageGallery {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-imageGallery-invert {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-imageGallery-progressive {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-star {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-star-invert {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-star-progressive {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-halfStar {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-halfStar-invert {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-halfStar-progressive {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-unStar {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-unStar-invert {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-unStar-progressive {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-userAdd {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-userAdd-invert {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-userAdd-progressive {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-userAvatar {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-userAvatar-invert {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-userAvatar-progressive {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-userContributions {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-userContributions-invert {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-userContributions-progressive {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-userGroup {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-userGroup-invert {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-userGroup-progressive {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-userTalk {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-userTalk-invert {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-userTalk-progressive {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-userTemporary {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-userTemporary-invert {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-userTemporary-progressive {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-watchlist {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-watchlist-invert {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}
.vector-icon.mw-ui-icon-wikimedia-watchlist-progressive {
	-webkit-mask-image: url(load.php);
	mask-image: url(load.php);
}



/* end   https://en.wikipedia.org/w/load.php?debug=true&lang=en&modules=skins.vector.icons&only=styles&skin=vector-2022&version=&* */
